<div><%= @article.title %></div>
<div class="article-content"><%= simple_format(@article.content) %></div>

	<p><%= @comment.reply_article %></p>

<%= link_to 'Edit Comment', edit_article_comment_path(@article, @comment) if @comment.user_id == current_user.id %>