<div class="panel-group">
	<!-- Admin share 3rd party articles -->
	<div class="panel panel-default">
		<div class="panel-heading">Share article</div>
		<div class="panel-body">
			<%= render partial: '/articles/share' %>
		</div>
	</div>

	<!-- Admin create inhouse articles -->
	<div class="panel panel-default">
		<div class="panel-heading">Create article</div>
		<div class="panel-body">
			<%= render partial: '/articles/form' %>
		</div>
	</div>
</div>
