<div class="article">	

	<div class="article-title h1"><%= @article.title %></div>
	
	<% if @article.url %>
		<div class="article-image"><%= image_tag(@article.image, width: '500') %></div>
	<% end %>
	
	<%= link_to @article.url, target: "_blank", class: 'btn btn-default' do %>
		View article from original source
	<% end %>

	<div class="article-content"><%= @article.content %></div>
</div>