<section class="cta">
  <div class="cta-content">
    <div class="container">
      <h2>Play Smart.<br>Not Hard.</h2>
      
      <%= link_to "Let's Get Started!", '/auth/steam', class: "btn btn-outline btn-xl page-scroll" %>
    </div>
  </div>
  <div class="overlay"></div>
</section>
