<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <div class="header-content">
          <div class="header-content-inner">
            <h1>SmartGamer is an app that rewards you for playing, and optimizes your gaming time.</h1>
            <%= link_to "Start Now for Free!", '/auth/steam', class: "btn btn-outline btn-xl page-scroll" %>
          </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait white">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
