<!DOCTYPE html>
<html>
  <head>current
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have exceed your desired playtime. Stop playing! Go Offline.</h1>
    <p>
      <%= @user.name %>, you have exceed your desired playtime - <%= @user.desired_playtime %>. You have played for <%= @user.playtimes.find_by(date: Date.today).today_playtime / 60 %>
    </p>
  </body>
</html>
