<footer>
		<div class="container-fluid section footer section-narrow text-white text-center">
			<div class="row">
				<nav class="col-sm-3"></nav>
				<nav class="col-sm-3">
					<p>Follow us</p>
			<%= link_to (image_tag "square.svg" , class: 'footer-icon'), root_path %>
			<%= link_to (image_tag "twitter.ico" , class: 'footer-icon'), root_path %>
			<%= link_to (image_tag "facebook.png" , class: 'footer-icon'), root_path %>
				</nav>
				<nav class="col-sm-3">
					<div class="social">
						<a href="#" class="footer-link">About SmartGamer</a><br>
					</div>
					<div class="social">
						<a href="#" class="footer-link">Privacy</a>
					</div>
					<div class="social">
						<a href="#" class="footer-link">Terms</a>
					</div>
			
				</nav>
				<nav class="col-sm-3"></nav>
			
		</div>
	</div>
	 
</footer>