
<header class="jumbotron my-4">
	<div class="row">
		<div class="col-sm-4"> <h1 class="display-3">SmartGamer</h1></div>
       
        
        <input type="text" name="search" placeholder="Find..">
    </div>
    <p class="lead">Play Smart not Hard</p>
</header>


<div class="container" >
	<div class="row">
		<h3>Articles</h3>
		<div class="col-sm-6">
			<img src='/assets/placeholder.jpg' alt="Main article image" height= "auto" width= "585" class="article-image-main">
			
		</div>
		<div class="col-sm-2">
			<img src='/assets/placeholder.jpg' alt="secondary article image" height= "auto" width= "165" class="article-image-second">
		</div>
		<div class="col-sm-2">
			
			<p class="a-pic">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
			<p class="a-pic">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
		</div>
		<div class="col-sm-2">
			<p class="a">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
		</div>
			
		
	</div>
</div>