.container-table{
    padding-top: 75px;
    padding-bottom: 75px;
}

.container-quote{
    width: 50%;
    margin: 75px auto 0 auto;
    overflow: hidden;
}

.section{
    padding-top: 75px;
    padding-bottom: 75px;
}

.section.section-narrow{
    padding-top: 30px;
    padding-bottom: 30px;
}

.row-space-1{
  margin-top: 6px;
  margin-bottom: 6px;
}

.row-space-2{
  margin-top: 12px;
  margin-bottom: 12px;
}

.row-space-3{
  margin-top: 24px;
  margin-bottom: 24px;
}

.col-lg-2{
	width: 500px;
	height: 500px;
	color: grey;
}

.a-pic {
	background-color: grey;
	width: 100px;
}

.article-image-main {
	width: 555px;
	height: 390px;
	padding: 5px;
}

.article-text-main {
    width: 555px;
    height: 390px;
    line-height: 390px;
    padding: 5px;
    background-color: #272121;
    color: #fff;
    font-size: 3em;
    background-clip:content-box;
    span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
}

.article-image-second{
	position: relative;
	right: 30px;
	width: 195px;
	height: 195px;
	padding: 5px;
}

.article-text-second {
    display: inline-block;
    position: relative;
    right: 30px;
    width: 195px;
    height: 195px;
    line-height: 195px;
    padding: 5px;
    background-color: #272121;
    color: #fff;
    font-size: 2em;
    background-clip:content-box;
    span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
}

.activity-pic{
	width: 150px;
	height: 150px;
	padding: 5px;
}
.article-image-second-long{
	width: 275px;
	height: 195px;
	padding: 5px;
	position: relative;
    margin-top: -22px;
}

.article-text-second-long {
    display: inline-block;
    position: relative;
    width: 275px;
    height: 195px;
    line-height: 195px;
    padding: 5px;
    background-color: #272121;
    color: #fff;
    font-size: 2em;
    background-clip:content-box;
    span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
}


.h3-title{
	width: 585px;
	position: relative;
	left: 25px;
}

.display-3{
	position: relative;
	text-align: center;
}

.text-white{
    color: rgb(255, 255, 255);
}

#logo-font {
    margin:3px 10px 0 0;
    font-family: 'Monofett', cursive;
    color: rgb(255, 255, 255);
    font-size: 50px;
}

.text-center{
    text-align: center;
}

#custom-search-input {
        margin-top: 12px;
        padding-left: 50px;
        display: inline-block;
        width: 400px;
    }

    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */

        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#D9230F;
    }

    .search-query:focus + button {
        z-index: 3;
    }

    /* The navigation bar */
#navbar-main {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}

.footer {
      position: absolute;
      overflow: hidden;
      background-color: #430F58;
      width: 100%;
      height: 260px;
    }

.footer-icon {
    overflow:hidden;
    width: 30px;
    height: 30px;
}

.footer-link {
    margin-top: 30px;
}

#test {
    color: blue;
}


/* Search page content */
#search_result{
    min-height: calc(65vh - 70px);
    margin-top: -40px;
    padding: 0;
}

.btn-primary {
    width:100px;
}

#search_result_content {
    width:60%;
    text-align: left;
    margin: 80px auto;
}

#search_result_content div {
    margin: 30px 0;
}

#navbar-avatar {
    height: 50px;
    width: 50px;
    padding-top: 0px;
}
table {
    border-collapse: collapse;
}

.home-user-table {
  width: 100%;
  background-color: #D4D6C8;
  th, td {
    border: 0px solid black;
    padding: 4px;
    a {
      color: inherit;
    }
  }
  tbody tr:hover td {
    background: #666666;
  }
  td .table-user-avatar {
    display: inline-block;
    img {
        width: 50%;
    }
  }
}


#navbar-drop {
    padding: 0px;
}

.search {
    width:49px;
}
    

tr:nth-child(odd) {
    background: #9A9B94;
}

.steam_log_in {
    margin-top: 8px;
    margin-right:30px   ;
    width:120px;
}

// Adapted from https://bootsnipp.com/snippets/7QXrr
.activity-feed {
    padding: 15px;
    .feed-item {
        position: relative;
        padding-bottom: 20px;
        padding-left: 30px;
        border-left: 2px solid #e4e8eb;
        .date {
            position: relative;
            top: -5px;
            color: #8c96a3;
            text-transform: uppercase;
            font-size: 13px;
        }
        .text {
            position: relative;
            top: -3px;
        }
    }
    .feed-item:last-child {
        border-color: transparent;
    }
    .feed-item:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: -6px;
        width: 10px;
        height: 10px;
        border-radius: 6px;
        background: #fff;
        border: 1px solid #f37167;
    }
}

.avatar-small {
    width: 36px;
    height: 36px;
}

.smart-logo {

    width: 36px;
    height: 36px;
}

#navbar-main {
    background-color: #430F58;
}

.nav-text {
    height: 60px;
    color: #777777;
}

.navbar-logo {
    position: relative;
    bottom: 10px;
}