
@import 'home';
@import "users";
@import 'bootstrap';
@import 'bootstrap.min.css';
@import 'bootstrap-theme.css';
@import 'bootstrap-theme.min.css';
@import 'bootstrap-table';
@import 'articles';



$white-font: #FFF;
$background-dark: #363333;
body{
	color: black;
	background-color: white;
	font-weight: 300;
	.main-container{
		font-family: 'Ubuntu', sans-serif !important;
		padding-top: 100px;
		margin-bottom: 60px;

	}
}
html {
	  position: relative;
	  min-height: 100%;

	}

#navbar{
	background: #333332;
}

#white-text{
	color: rgba(255,255,255,1);
}

.alert {
	margin-top: -35px;
	background-color: #F5F5F5;
	text-align: center;
	font-size:20px;
}
