
@import 'home';
@import "users";
@import 'bootstrap';
@import 'bootstrap.min.css';
@import 'bootstrap-theme.css';
@import 'bootstrap-theme.min.css';
@import 'bootstrap-table';
@import 'articles';



$white-font: #FFF;
$background-dark: #363333;
body{
	color: $white-font;
	background-color: $background-dark;
	font-weight: 300;
	.main-container{
		font-family: 'Ubuntu', sans-serif !important;
		padding-top: 100px;
		margin-bottom: 60px;

	}
}
html {
	  position: relative;
	  min-height: 100%;
	  
	}

#navbar{
	background-color: #272121;
}

#white-text{	
	color: rgba(255,255,255,1);
}

