
@import 'home';
@import "users";

body{
	color: #565A5C;
	background-color: #F8F8F8;

	.main-container{
		padding-top: 100px;
		margin-bottom: 60px;
	}
}
html {
	  position: relative;
	  min-height: 100%;
	}




