// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article-content {
	text-align: justify;
}

// articles#index
.article-wrapper {
	border: 1px solid #efefef;
	background-color: #F5F5F5;
	border-radius: 4px;
	margin-bottom: 18px;
	padding: 16px 18px 16px 18px;
	width: 80%;
	.article-title {
		font-size: 1.8em;
		font-weight: 700;
		color: #000;
	}
	.article-content {
		color: #000;
		white-space: pre-wrap;
	}
	.article-social {
		margin: 8px 0 8px 0;
	}
}

// articles#show
.article {
	color: #000;
	.article-image{
		margin: 8px 0 8px 0;
	}
	.article-social {
		margin: 8px 0 8px 0;
	}
}

.comment-wrapper-child {
	border: 1px solid #d5d5d5;
	background-color: #fff;
	border-radius: 4px;
	margin-bottom: 18px;
	padding: 16px 18px 16px 18px;
	width: 50%;
	.comment-author {
		font-size: 1.2em;
		font-weight: 700;
	}
	.comment-date {
		font-size: 0.8em;
		color: #959595;
	}
}

.new_comment_link a {
	color: #000;
	font-size: 1.5em;
	font-weight: 600;	
}

.topofpage {
	margin-top: 20px;
}

.comment-highlight {
	background-color: #eee;
}