.search-wrapper {
	border: 1px solid #efefef;
	background-color: #ddd;
	border-radius: 4px;
	margin-bottom: 18px;
	padding: 16px 18px 16px 18px;
	
	.article-title {
		font-size: 1.8em;
		font-weight: 700;
		color: #000;
	}
	.article-content {
		color: #000;
		white-space: pre-wrap;
	}
	.article-social {
		margin: 8px 0 8px 0;
	}
}
