

@mixin box_size($height) {
  width: 100%;
  height: $height;
  margin-bottom: 10px;
}



#body {
  
  width:100%;
  display: flex;
  text-align: center;
}

#left{
  width:80%;
  margin: 30px auto;
}

#right {
  width:25%;
  margin: 30px auto;
}

$background-dark: #403F48;

.background-color-div {
  background-color: whitesmoke;
}

.border {
  border: 0px solid #00b5ad;
  border-radius: 5px;
}

#header {

  @include box_size(200px);
}

#button {
  @include box_size(50px);
}

#content {
  @include box_size(860px);
}

#about_me {

  @include box_size(250px);
}

#my_games {
  @include box_size(250px); 
}

#my_achievements {
  @include box_size(400px);
}


.steam-avatar {
  
  border-radius: 50%;
}

.progress {
  height: 35px;

}
.progress .skill {
  

  padding: 0;
  margin: 0 0 0 20px;
  text-transform: uppercase;
}
.progress .skill .val {
  float: right;
  font-style: normal;
  margin: 0 20px 0 0;
}

.progress-bar {
  text-align: left;
  transition-duration: 3s;
}
.inline {
  display: inline-block;

}

#skill-bar {
  padding: 20px;
}

.achieved {
  color: #39FF14;
}

.achievement-item {
  margin: 8px;
  padding: 8px;
  overflow: hidden;
  .achievement-title {
    margin-left: 15px;
    font-size: 1.2em;
    font-weight: 700;
  }
  .achievement-description {
    margin-left: 15px;
    font-size: 0.8em;
  }
}