

@mixin box_size($height) {
  width: 100%;
  min-height: $height;
  margin-bottom: 10px;
}



#body {
  
  width:100%;
  display: flex;
  text-align: center;
}

#left{
  width:80%;
  margin: 30px auto;
}

#right {
  width:25%;
  margin: 30px auto;
}

$background-dark: #403F48;

.background-color-div {
  background-color: whitesmoke;
}

.border {
  border: 0px solid #00b5ad;
  border-radius: 5px;
}

#header {

  @include box_size(200px);
}

#button {
  @include box_size(50px);
}

#content {
  @include box_size(860px);
}

#stats, #history, #about_me, #my_games, #my_achievements, #my_commendations {
  @include box_size(250px);
}

.tab-content {
}

.steam-avatar {
  
  border-radius: 50%;
}

.progress {
  height: 35px;

}
.progress .skill {
  

  padding: 0;
  margin: 0 0 0 20px;
  text-transform: uppercase;
}
.progress .skill .val {
  float: right;
  font-style: normal;
  margin: 0 20px 0 0;
}

.progress-bar {
  text-align: left;
  transition-duration: 3s;
}
.inline {
  display: inline-block;

}

.h3-pill {
  margin-top: 0px;
}

#skill-bar {
  padding: 20px;
}

.achieved {
  color: #39FF14;
}

.achievements-wrapper {
  overflow: hidden;
  .achievement-item {
    width: 30%;
    margin: 8px;
    padding: 8px;
    overflow: hidden;
    border: 1px solid #000;
    border-radius: 5px;
    .achievement-title {
      margin-left: 15px;
      font-size: 1.2em;
      font-weight: 700;
    }
    .achievement-description {
      margin-left: 15px;
      font-size: 0.8em;
    }
  }
}


.commendation-item {
  display: inline-block;
  background-color: #e6e9ec;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  .commendation-name {
    font-weight: 600;
    letter-spacing: 2px;
  }
}
.commendation-plus {
  display: inline-block;
}

.container-small {
  padding: 20px;
}

.btn-signout {
  background-color: #aaa !important;
}

.circleborder {
width: 124px;
height: 124px;
border-radius: 150px;
-webkit-border-radius: 150px;
-moz-border-radius: 150px;
background: url(URL) no-repeat;
box-shadow: 0 0 8px rgba(0, 0, 0, .8);
-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}